#header-nav {
    background-color: burlywood !important; 
    border: 1px solid black;
}

#header-title {
    font-size: 1.8em;
}

#collapsable-nav {
    background-color: bisque;
    margin: auto;
}

#nav-list a {
    font-size: 1.2em;
    text-align: center;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

#page-heading {
    font-size: 1.5em;
    padding: 25px;
}

#tall-section {
    background-color: blanchedalmond;
    height: 1000px;
    width: 95%;
}

#tall-section .menu-title {
    font-size: 1.3em;
    text-align: center;
    padding-top: 10px;
}